In [2]:
a=10
type(a)

int

In [3]:
strValue = "10"
intValue = 3

In [5]:
strValue + intValue

TypeError: can only concatenate str (not "int") to str

In [6]:
yearweekValue = "2024W25"

In [9]:
yearweekValue.split("W")[0]

'2024'

In [7]:
yearweekValue[0:4]

'2024'

In [22]:
import pandas as pd
csDataPath = "https://raw.githubusercontent.com/hyokwan/python-lecture/refs/heads/master/dataset/kopo_customerdata.csv"
customerData = pd.read_csv(csDataPath)
totalAmtList = list( customerData.TOTAL_AMOUNT )

In [28]:
# STEP1: 리스트를 정의한다
totalAmtList = list( customerData.TOTAL_AMOUNT )
# STEP2: 최소값 / 최대값을 산출한다
minValue = min(totalAmtList)
maxValue = max(totalAmtList)
print( f"최소값: {minValue} 최대값: {maxValue}")
# STEP3: 최소값 / 최대값 개수를 산출한다.
minValueCnt = totalAmtList.count(minValue)
maxValueCnt = totalAmtList.count(maxValue)
print( f"최소값 개수: {minValueCnt} 최대값 개수: {maxValueCnt}")
# STEP4: 평균
#        분자: 전체합 - (최대값*최대값개수+최소값*최소값개수)
#        /
#        분모: 전체개수 - (최대값개수 + 최소값개수)
bunja = sum(totalAmtList) - (maxValue*maxValueCnt + minValue*minValueCnt)
bunmo = len(totalAmtList) - (maxValueCnt + minValueCnt)
avgResult = bunja / bunmo
avgResult

최소값: 0 최대값: 3103500
최소값 개수: 256 최대값 개수: 1

35248.91490376756

In [14]:
import pandas as pd
csDataPath = "https://raw.githubusercontent.com/hyokwan/python-lecture/refs/heads/master/dataset/kopo_customerdata.csv"
customerData = pd.read_csv(csDataPath)
customerData

,CUSTOMERCODE,STATENAME,ST,GENDER,DOB,GENDER1,EMAIL,FEST_CNT,TOTAL_AMOUNT,AC_AMOUNT,AV_AMOUNT,HA_AMOUNT,EMI_CE_AMOUNT,IS_HIGHEND,CNT_VIST,GAP_VISIT
0,1503989,State2,2,Male,0,1,1,0,30300,0,30300,0,0,0,1,0
1,1190338,State2,2,Male,0,1,0,1,46500,0,46500,0,0,0,1,0
2,1424715,State2,2,Female,0,2,0,0,22700,0,0,22700,0,0,1,0
3,2483305,State2,2,Male,0,1,0,1,31400,0,31400,0,0,0,1,0
4,1178802,State2,2,Male,0,1,0,1,44900,0,0,44900,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,465757,State1,1,Male,0,1,0,0,40600,0,40600,0,0,0,1,0
299996,1890264,State1,1,Male,0,1,0,1,48000,48000,0,0,0,0,1,0
299997,1857537,State1,1,Female,0,2,0,0,32300,0,0,32300,0,0,1,0
299998,2209324,State1,1,Male,0,1,0,1,48500,0,48500,0,0,0,1,0
299999,1875146,State1,1,Male,0,1,0,1,16500,0,0,16500,0,0,1,0

# 핵심문법

### 1-1. 반복문

In [61]:
# productList[0] = preFix + productList[0]
# productList[1] = preFix + productList[1]
# productList[2] = preFix + productList[2]
# productList[3] = preFix + productList[3]

In [60]:
productList = ["UN42M001","UN42M002","UN42M003","UN42M004","UN42M005"]
preFix = "LEDTV_"

for i in range(0, len(productList) ):
    productList[i] = preFix + productList[i]
productList

['LEDTV_UN42M001',
 'LEDTV_UN42M002',
 'LEDTV_UN42M003',
 'LEDTV_UN42M004',
 'LEDTV_UN42M005']

In [54]:
productList = ["UN42M001","UN42M002","UN42M003","UN42M004","UN42M005"]
preFix = "LEDTV_"
i = 0
while i < len(productList) :
    productList[i] = preFix + productList[i]
    i = i + 1
productList

['LEDTV_UN42M001',
 'LEDTV_UN42M002',
 'LEDTV_UN42M003',
 'LEDTV_UN42M004',
 'LEDTV_UN42M005']

### 1-2. 조건문

In [71]:
targetModel = "UN42M001"
preFix = "LEDTV_"

# targetModel.count(preFix)
# 존재하지 않으면 (count==0) 접두어 붙임
if targetModel.count(preFix) == 0:
    targetModel = preFix + targetModel
# 존재하는 경우 pass
else:
    pass
targetModel

'LEDTV_UN42M001'

In [72]:
productList = ["LEDTV_UN42M001","LEDTV_LEDTV_UN42M002","UN42M003","UN42M004","UN42M005"]
preFix = "LEDTV_"

for i in range(0, len(productList) ):
    productList[i] = preFix + productList[i]
productList

['LEDTV_LEDTV_UN42M001',
 'LEDTV_LEDTV_LEDTV_UN42M002',
 'LEDTV_UN42M003',
 'LEDTV_UN42M004',
 'LEDTV_UN42M005']

### 디버깅

In [88]:
productList = ["LEDTV_UN42M001","LEDTV_LEDTV_UN42M002","UN42M003","UN42M004","UN42M005"]
preFix = "LEDTV_"
i=0
# for i in range(0, len(productList) ):
# 접두어가 존재하면 pass
if productList[i].count(preFix) >= 1:
    pass
# 접두어가 존재하지 않으면
else:
    productList[i] =  preFix + productList[i]

In [91]:
productList

['LEDTV_UN42M001',
 'LEDTV_LEDTV_UN42M002',
 'LEDTV_UN42M003',
 'LEDTV_UN42M004',
 'LEDTV_UN42M005']

In [32]:
targetModel.count(preFix) == 0

In [33]:
productList

['LEDTV_UN42M001', 'LEDTV_UN42M002', 'LEDTV_UN42M003', 'LEDTV_UN42M004']