# 1. 자료형 기본

### 변수 선언

In [102]:
a = 9000
b = 300
c = a - b
c

8700

In [103]:
# 변수명 시작은 숫자 불가능
# 단어와 단어 사이에는 _ 또는 대문자로 구분
# 2025price = 10

### 1-1. 수

In [104]:
intValueFirst = 10
intValueSecond = 5.5

In [105]:
sumValue = intValueFirst + intValueSecond
minusValue = intValueFirst - intValueSecond
multipleValue = intValueFirst * intValueSecond
divisionValue = intValueFirst / intValueSecond
print( sumValue )
print( minusValue )

15.5
4.5

In [106]:
# 나머지연산 (패턴 찾기)
currentYearweek = 202504
pattern = 3

In [107]:
patternResult = currentYearweek % pattern
patternResult

1

In [108]:
# 현재 시간과 분을 선언한다
currentHour = 8
currentMin= 55
# 현재 시간과 분을 더한다
currentTime = currentHour + currentMin
currentTime

63

In [109]:
import datetime
currentDate = datetime.datetime.now()
currentHour = currentDate.hour

In [110]:
weekValue = targetYearweek[4:]
weekValue

'W20'

### 1-2. 문자

In [111]:
yearweekValue = "202515"

In [112]:
yearTerm = 4

In [113]:
# 문자열 카운트 함수 (검색단어를 개수를 카운트)
targetModel = "LEDTV_LEDTV_UN42M001"
searchKey = "LEDTV"

In [114]:
targetModel.count(searchKey)

2

In [115]:
yearweek = "2025000000|42"
delimeterValue = "|"
delimeterIndex = yearweek.index( delimeterValue )
yearValue = yearweek[  : delimeterIndex ]
weekValue = yearweek[  delimeterIndex+1 : ]
print(yearValue)
print(weekValue)

2025000000
42

In [116]:
## 대/소문자 구분하기

In [117]:
yearweek = "2025w42"
yearweek = yearweek.upper()
delimeterValue = "W"
delimeterIndex = yearweek.index( delimeterValue )
yearValue = yearweek[  : delimeterIndex ]
weekValue = yearweek[  delimeterIndex+1 : ]
print(yearValue)
print(weekValue)

2025
42

In [118]:
## 문자 치환하기 (replace)

In [119]:
targetValue = "오늘은 3/19일 입니다       오늘은 눈이     왔습니다"

In [120]:
targetValue = "2025W01"

In [121]:
targetValue = targetValue.replace("W","_")
targetValue

'2025_01'

In [122]:
# 문자 분리하기 (split)
targetYearweek = "2025W20"
delimeter = "W"
resultValue = targetYearweek.split(delimeter)

In [123]:
# 문자 분리하기 (split)
targetYearweek = "2025W20"
delimeter = "W"
resultValue = targetYearweek.split(delimeter)
resultValue

['2025', '20']

### 1-3. 형변환

In [124]:
float(5)

5.0

In [125]:
str( 2015222 )

'2015222'

In [126]:
inputValue = "202501.2"

### 실습문제

In [127]:
inData = "sec 20230212 250"
upperInData = inData.upper()

splittedValue = upperInData.split(" ")
stock_name = splittedValue[0]
date = splittedValue[1]
value = splittedValue[2]
print( f"주식코드: {stock_name}, 일자: {date}, 거래량: {value}" )

주식코드: SEC, 일자: 20230212, 거래량: 250

In [128]:
stockName = "SEC"
strValue = "20250319"

In [129]:
stockName + "_" +  strValue

'SEC_20250319'

### 1-4. 리스트

In [130]:
emptyList = []

In [131]:
priceList = [100, 200, 300, 400]
# extraPriceList = [300,400]

In [132]:
# 1. 인덱스 계산!!
# 2. 집합이라는것은 길이(len), 합(sum), 최대값(max), 최소값(min)

In [133]:
min( priceList )

100

In [134]:
priceList = [100, 200, 300, 400]

# 수정(update)
updateValue = 9999
priceList[0] = updateValue
priceList
# 삽입(insert, append)
extraValue = 500
priceList.append(extraValue)
# 삭제 (delete)
priceList.remove( updateValue )

In [135]:
priceList = [500, 300, 400, 100, 100]

In [136]:
priceList.count (100)

2